In [1]:
#imports
import numpy as np
import pandas as pd

In [2]:
!pip install pycountry

Requirement already satisfied: pycountry in d:\anaconda\lib\site-packages (22.3.5)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from pycountry) (58.0.4)

In [3]:
!pip install pycountry_convert

Requirement already satisfied: pycountry_convert in d:\anaconda\lib\site-packages (0.7.2)
Requirement already satisfied: wheel>=0.30.0 in d:\anaconda\lib\site-packages (from pycountry_convert) (0.37.1)
Requirement already satisfied: pycountry>=16.11.27.1 in d:\anaconda\lib\site-packages (from pycountry_convert) (22.3.5)
Requirement already satisfied: pytest-cov>=2.5.1 in d:\anaconda\lib\site-packages (from pycountry_convert) (3.0.0)
Requirement already satisfied: pprintpp>=0.3.0 in d:\anaconda\lib\site-packages (from pycountry_convert) (0.4.0)
Requirement already satisfied: pytest>=3.4.0 in d:\anaconda\lib\site-packages (from pycountry_convert) (6.2.5)
Requirement already satisfied: repoze.lru>=0.7 in d:\anaconda\lib\site-packages (from pycountry_convert) (0.7)
Requirement already satisfied: pytest-mock>=1.6.3 in d:\anaconda\lib\site-packages (from pycountry_convert) (3.7.0)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from pycountry>=16.11.27.1->pycountry_convert) (58.0.4)
Requirement already satisfied: attrs>=19.2.0 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.4.0)
Requirement already satisfied: iniconfig in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.1.1)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.0.0)
Requirement already satisfied: py>=1.8.2 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.11.0)
Requirement already satisfied: toml in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.10.2)
Requirement already satisfied: atomicwrites>=1.0 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.4.0)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.4.4)
Requirement already satisfied: coverage[toml]>=5.2.1 in d:\anaconda\lib\site-packages (from pytest-cov>=2.5.1->pycountry_convert) (6.4.1)
Requirement already satisfied: tomli in d:\anaconda\lib\site-packages (from coverage[toml]>=5.2.1->pytest-cov>=2.5.1->pycountry_convert) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (3.0.4)

In [4]:
import pycountry

In [5]:
df = pd.read_csv('cogs118aDATA.csv')

In [6]:
df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [7]:
labels = []

for i in list(df):
    if i.find('-') == -1:
        labels.append(i)
    else:
        label = i.split(' - ')[1].strip()
        labels.append(label)
print(labels)

['Entity', 'Code', 'Year', 'Number of executions (Amnesty International)', 'Meningitis', 'Neoplasms', 'Fire, heat, and hot substances', 'Malaria', 'Drowning', 'Interpersonal violence', 'HIV/AIDS', 'Drug use disorders', 'Tuberculosis', 'Road injuries', 'Maternal disorders', 'Lower respiratory infections', 'Neonatal disorders', 'Alcohol use disorders', 'Exposure to forces of nature', 'Diarrheal diseases', 'Environmental heat and cold exposure', 'Nutritional deficiencies', 'Self-harm', 'Conflict and terrorism', 'Diabetes mellitus', 'Poisonings', 'Protein-energy malnutrition', 'Terrorism (deaths)', 'Cardiovascular diseases', 'Chronic kidney disease', 'Chronic respiratory diseases', 'Cirrhosis and other chronic liver diseases', 'Digestive diseases', 'Acute hepatitis', "Alzheimer's disease and other dementias", "Parkinson's disease"]

In [8]:
to_rename = {k:v for k, v in zip(df.columns, labels)}

df = df.rename(columns = to_rename)

df.columns

Index(['Entity', 'Code', 'Year',
       'Number of executions (Amnesty International)', 'Meningitis',
       'Neoplasms', 'Fire, heat, and hot substances', 'Malaria', 'Drowning',
       'Interpersonal violence', 'HIV/AIDS', 'Drug use disorders',
       'Tuberculosis', 'Road injuries', 'Maternal disorders',
       'Lower respiratory infections', 'Neonatal disorders',
       'Alcohol use disorders', 'Exposure to forces of nature',
       'Diarrheal diseases', 'Environmental heat and cold exposure',
       'Nutritional deficiencies', 'Self-harm', 'Conflict and terrorism',
       'Diabetes mellitus', 'Poisonings', 'Protein-energy malnutrition',
       'Terrorism (deaths)', 'Cardiovascular diseases',
       'Chronic kidney disease', 'Chronic respiratory diseases',
       'Cirrhosis and other chronic liver diseases', 'Digestive diseases',
       'Acute hepatitis', 'Alzheimer's disease and other dementias',
       'Parkinson's disease'],
      dtype='object')

In [9]:
df.isna().sum() #na values
print(df.shape)

(8254, 36)

In [10]:
has_country_code = df.loc[df['Code'].notna()]
missing_country_code = df.loc[df['Code'].isna()]

In [11]:
set(missing_country_code['Entity'])

{'Africa',
 'African Region',
 'African Union',
 'America',
 'Andean Latin America',
 'Asia',
 'Australasia',
 'Australasia & Oceania',
 'Bosnia-Herzegovina',
 'Caribbean',
 'Central America & Caribbean',
 'Central Asia',
 'Central Europe',
 'Central Europe, Eastern Europe, and Central Asia',
 'Central Latin America',
 'Central sub-Saharan Africa',
 'Commonwealth',
 'Commonwealth High Income',
 'Commonwealth Low Income',
 'Commonwealth Middle Income',
 'East Asia',
 'East Asia & Pacific - World Bank region',
 'East Germany (GDR)',
 'East Timor',
 'Eastern Europe',
 'Eastern Mediterranean Region',
 'Eastern sub-Saharan Africa',
 'England',
 'Europe',
 'Europe & Central Asia - World Bank region',
 'European Region',
 'European Union',
 'G20',
 'High SDI',
 'High-income',
 'High-income Asia Pacific',
 'High-income North America',
 'High-middle SDI',
 'International',
 'Latin America & Caribbean - World Bank region',
 'Low SDI',
 'Low-middle SDI',
 'Macau',
 'Middle East & North Africa',
 'Middle SDI',
 'Nordic Region',
 'North Africa and Middle East',
 'North America',
 'Northern Ireland',
 'OECD Countries',
 'Oceania',
 'Region of the Americas',
 'Scotland',
 'Serbia-Montenegro',
 'South America',
 'South Asia',
 'South Asia - World Bank region',
 'South-East Asia Region',
 'Southeast Asia',
 'Southeast Asia, East Asia, and Oceania',
 'Southern Latin America',
 'Southern sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa - World Bank region',
 'Tropical Latin America',
 'Wales',
 'West Germany (FRG)',
 'Western Europe',
 'Western Pacific Region',
 'Western sub-Saharan Africa',
 'World (excluding China)',
 'World Bank High Income',
 'World Bank Low Income',
 'World Bank Lower Middle Income',
 'World Bank Upper Middle Income',
 'Zaire'}

In [12]:
missing_country_code.shape

(2048, 36)

In [13]:
df['Code'].value_counts()

AFG    30
LCA    30
NER    30
NGA    30
NIU    30
       ..
GUF     2
WLF     1
GLP     1
NCL     1
PYF     1
Name: Code, Length: 217, dtype: int64

In [14]:
## function to convert
import pycountry_convert as pc
test_cc, e = [], []
# convert country to country code
for i in missing_country_code['Entity']:
    try:
        country_code = pc.country_name_to_country_alpha3(i, cn_name_format="default")
        test_cc.append(country_code)
    except:
        e.append(i)
        
#print(set(e))

In [15]:
test_cc

['TLS', 'TLS', 'TLS', 'TLS', 'TLS', 'MAC', 'MAC', 'MAC', 'MAC']

In [16]:
#not enough country to warrant merging back into dataset, continue analysis without entries in missing_country_code

In [17]:
# convert country code to continent
#temp = list(map(lambda x: pc.country_alpha3_to_country_alpha2(x), test_cc))
#print(temp)
#continent_name = list(map(lambda x: pc.country_alpha2_to_continent_code(x), temp))
#print(continent_name)

In [18]:
#step1
step1 = lambda x: pc.country_alpha3_to_country_alpha2(x)

In [19]:
#step2
step2 = lambda y: pc.country_alpha2_to_continent_code(step1(y))

In [20]:
'''AF	Africa
AN	Antarctica
AS	Asia
EU	Europe
NA	North america
OC	Oceania
SA	South america'''

'AF\tAfrica\nAN\tAntarctica\nAS\tAsia\nEU\tEurope\nNA\tNorth america\nOC\tOceania\nSA\tSouth america'

In [21]:
has_country_code.shape

(6206, 36)

In [22]:
def continent_code(country_code):
    try:
        alpha2 = pc.country_alpha3_to_country_alpha2(country_code)
        continent_code = pc.country_alpha2_to_continent_code(alpha2)
        return continent_code
    except:
        return np.nan

In [23]:
has_country_code['Continent_Code'] = has_country_code['Code'].apply(continent_code)

C:\Users\GIRISH~1\AppData\Local\Temp/ipykernel_22008/1266357337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  has_country_code['Continent_Code'] = has_country_code['Code'].apply(continent_code)

In [24]:
has_country_code['Continent_Code']

0       AS
1       AS
2       AS
3       AS
4       AS
        ..
8249    AF
8250    AF
8251    AF
8252    AF
8253    AF
Name: Continent_Code, Length: 6206, dtype: object

In [25]:
has_country_code.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,Continent_Code
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0,AS
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0,AS
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0,AS
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0,AS
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0,AS

In [26]:
#df[[c for c in df if c not in ['b', 'x']] 
      # + ['b', 'x']]
to_save = has_country_code
to_save.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,Continent_Code
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0,AS
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0,AS
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0,AS
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0,AS
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0,AS

In [27]:
to_save = to_save[['Entity', 'Code', 'Continent_Code'] + [i for i in to_save if i not in ['Entity', 'Code', 'Continent_Code']]]

In [28]:
subset_columns = ['Number of executions (Amnesty International)', 'Terrorism (deaths)']

In [29]:
to_save = to_save.dropna(subset = [i for i in to_save if i not in subset_columns])

In [30]:
to_save.head()

,Entity,Code,Continent_Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,AS,2007,15,2933.0,15925.0,481.0,393.0,2127.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,AS,2008,17,2731.0,16148.0,462.0,255.0,1973.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,AS,2009,0,2460.0,16383.0,448.0,239.0,1852.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,AS,2011,2,2327.0,17094.0,448.0,390.0,1775.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,AS,2012,14,2254.0,17522.0,445.0,94.0,1716.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [31]:
to_save = to_save.fillna(0)

In [32]:
to_save.isna().sum()

Entity                                          0
Code                                            0
Continent_Code                                  0
Year                                            0
Number of executions (Amnesty International)    0
Meningitis                                      0
Neoplasms                                       0
Fire, heat, and hot substances                  0
Malaria                                         0
Drowning                                        0
Interpersonal violence                          0
HIV/AIDS                                        0
Drug use disorders                              0
Tuberculosis                                    0
Road injuries                                   0
Maternal disorders                              0
Lower respiratory infections                    0
Neonatal disorders                              0
Alcohol use disorders                           0
Exposure to forces of nature                    0
Diarrheal diseases                              0
Environmental heat and cold exposure            0
Nutritional deficiencies                        0
Self-harm                                       0
Conflict and terrorism                          0
Diabetes mellitus                               0
Poisonings                                      0
Protein-energy malnutrition                     0
Terrorism (deaths)                              0
Cardiovascular diseases                         0
Chronic kidney disease                          0
Chronic respiratory diseases                    0
Cirrhosis and other chronic liver diseases      0
Digestive diseases                              0
Acute hepatitis                                 0
Alzheimer's disease and other dementias         0
Parkinson's disease                             0
dtype: int64

In [47]:
code_to_continent = {'AF': 'Africa', 'AS': 'Asia', 'EU': 'Europe', 
                     'NA': 'North America', 'OC': 'Oceania', 'SA': 'South America'}

In [44]:
to_save['Continent_Code'].value_counts()

AF    1620
AS    1440
EU    1260
NA     810
OC     600
SA     360
Name: Continent_Code, dtype: int64

In [49]:
to_save['Continent'] = to_save['Continent_Code'].apply(lambda x: code_to_continent[x])

,Entity,Code,Continent_Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,...,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,Continent
0,Afghanistan,AFG,AS,2007,15,2933.0,15925.0,481.0,393.0,2127.0,...,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0,Asia
1,Afghanistan,AFG,AS,2008,17,2731.0,16148.0,462.0,255.0,1973.0,...,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0,Asia
2,Afghanistan,AFG,AS,2009,0,2460.0,16383.0,448.0,239.0,1852.0,...,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0,Asia
3,Afghanistan,AFG,AS,2011,2,2327.0,17094.0,448.0,390.0,1775.0,...,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0,Asia
4,Afghanistan,AFG,AS,2012,14,2254.0,17522.0,445.0,94.0,1716.0,...,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0,Asia

In [51]:
to_save = to_save[['Entity', 'Code', 'Continent_Code', 'Continent'] + [i for i in to_save if i not in ['Entity', 'Code', 'Continent_Code', 'Continent']]]

,Entity,Code,Continent_Code,Continent,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,AS,Asia,2007,15,2933.0,15925.0,481.0,393.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,AS,Asia,2008,17,2731.0,16148.0,462.0,255.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,AS,Asia,2009,0,2460.0,16383.0,448.0,239.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,AS,Asia,2011,2,2327.0,17094.0,448.0,390.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,AS,Asia,2012,14,2254.0,17522.0,445.0,94.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [53]:
def clean_execution(string):
    try:
        return float(string)
    except:
        return float(string[1:])

In [54]:
to_save['Number of executions (Amnesty International)'] = to_save['Number of executions (Amnesty International)'].apply(clean_execution)

In [55]:
to_save.head()

,Entity,Code,Continent_Code,Continent,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,AS,Asia,2007,15.0,2933.0,15925.0,481.0,393.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,AS,Asia,2008,17.0,2731.0,16148.0,462.0,255.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,AS,Asia,2009,0.0,2460.0,16383.0,448.0,239.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,AS,Asia,2011,2.0,2327.0,17094.0,448.0,390.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,AS,Asia,2012,14.0,2254.0,17522.0,445.0,94.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [57]:
to_save.to_csv('continent_final.csv')

In [34]:
to_save.describe()

,Year,Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,HIV/AIDS,Drug use disorders,Tuberculosis,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
count,6090.000000,6090.000000,6.090000e+03,6090.000000,6090.000000,6090.000000,6090.000000,6090.000000,6090.000000,6090.000000,...,6090.000000,6090.000000,6.090000e+03,6090.000000,6.090000e+03,6090.000000,6090.000000,6090.000000,6090.000000,6090.000000
mean,2004.500000,1727.901806,3.772477e+04,591.544663,4160.550411,1691.237767,2093.924959,5970.068144,436.139245,7527.202956,...,1974.706568,55.151396,7.351434e+04,4746.701970,1.717491e+04,6153.531363,10776.609360,621.422167,4887.886864,1178.874056
std,8.656152,6687.396074,1.619349e+05,2133.447537,18470.970954,8898.143190,6932.514324,21059.816899,2905.734093,39644.084732,...,8275.367583,423.335611,2.922512e+05,16507.805874,1.054093e+05,20734.750565,37312.442896,4196.105314,18262.353024,4626.796037
min,1990.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.000000e+00,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1997.000000,15.000000,8.612500e+02,17.000000,0.000000,33.000000,42.000000,11.000000,3.000000,35.000000,...,5.000000,0.000000,2.121000e+03,150.000000,2.910000e+02,157.000000,290.500000,2.000000,94.000000,28.000000
50%,2004.500000,112.000000,5.657500e+03,127.000000,0.000000,179.000000,273.000000,133.000000,21.000000,424.000000,...,92.000000,0.000000,1.190250e+04,837.500000,1.713000e+03,1234.000000,2205.000000,15.000000,674.500000,166.000000
75%,2012.000000,855.750000,2.024325e+04,451.000000,402.750000,701.000000,878.000000,1904.250000,130.000000,2951.750000,...,1056.500000,1.000000,4.298825e+04,2948.750000,5.286500e+03,3570.750000,6125.750000,163.000000,2471.500000,613.750000
max,2019.000000,98358.000000,2.716551e+06,25876.000000,280604.000000,153773.000000,69640.000000,305491.000000,65717.000000,657515.000000,...,202241.000000,13965.000000,4.584273e+06,222922.000000,1.366039e+06,270037.000000,464914.000000,64305.000000,320715.000000,76990.000000